.breadcrumb {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.breadcrumb ol {
    display: flex;
    height: 20px;
    flex-direction: row;
    align-items: center;
}