.Category {
    margin-top: 16px;
    width: 1200px;
}

.Category__SubHeader {
    display: flex;
    height: 30px;
    flex-direction: row;
    align-items: center;
}

.Filer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    justify-content: space-between;
}

#Filter__Select {
    width: 200px;
    height: 30px;
    font-size: 14px;
    padding: 2px;
}