.PoductDetail {
    width: 1200px;
}

.Container-ProductDetail {
    width: 100%;
}

.BlockDetail {
    display: flex;
    height: 600px;
    justify-content: space-between;
}

.col-left-detail {
    width: 700px;
}

.col-right-detail {
    width: 480px;
}

.view-product {
    width: 700px;
    height: 500px;
}

.view-product img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.col-right-detail {
    padding: 10px 15px 30px 15px;
}

.BlockDetail .container-img {
    display: flex;
    margin-top: 16px;
}

.BlockDetail .img-product {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.BlockDetail .img-product img {
    width: 100%;
    height: 100%;
}

.col-title-product {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0;
    font-size: 22px;
}

.col-subtitle-product {
    color: #3d3d3dc9;
}

.col-money {
    font-size: 24px;
    margin: 12px 0;
}

.col-nameCategory {
    font-size: 16px;
}

.col-nameCategory ul {
    display: flex;
}

.col-nameCategory ul span {
    margin-right: 8px;
    font-weight: 600;
}

.col-state {
    font-size: 14px;
    color: #c61b1b;
    font-weight: 500;
    margin: 12px 0;
}

.col-state .btnCategory {
    height: 35px;
    padding: 10px;
    width: 150px;
    font-size: 14px;
    color: #fff;
    background-color: #f33838;
    font-weight: 600;
    border: 0;
    border-radius: 15px;
    margin: 12px 0;
    cursor: pointer;
    text-transform: uppercase;
}

.col-state .btnCategory:hover {
    background-color: #c61b1b;
}

.col-nameCategory h3{
    font-size: 16px;
    margin: 12px 0;
}

.pragraph-product {
    overflow-wrap: break-word;
}

.CartIcon {
    position: relative;
}

.TotalProduct {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}

